<nav class="flex items-center justify-between p-2 bg-slate-50">
	<a href="{{path('app_home')}}" class="flex items-center gap-1">
		<img src="{{ asset('img/logo')}}" alt="logo" width="32" class="transition-transform duration-200 ease-in-out rounded-full hover:scale-95">
		<p>Blog Symfo</p>
	</a>
	<div class="flex items-center justify-between gap-4">
		<a href="">Accueil</a>
		<a href="">Articles</a>
		<a href="">Premium</a>
	</div>
</nav>
